// Media queries
//-------------------------------------------
// Example
// body {
//   @include media(mobile) { background: red;}
// }
//-------------------------------------------

@mixin media($point) {
  @if $point == tabletH {
    @media screen and (max-width: 1024px) {
      @content;
    }
  }
  @if $point == tabletV {
    @media screen and (max-width: 768px) {
      @content;
    }
  } @else if $point == mobileH {
    @media screen and (max-width: 568px) {
      @content;
    }
  } @else if $point == mobileV {
    @media screen and (max-width: 400px) {
      @content;
    }
  }
}

//html, body {
//   @include media(desktop) { background: orange !important; }
//   @include media(tabletH) { background: #000 !important; }
//   @include media(tabletV) { background: red !important; }
//   @include media(mobileH) { background: yellow !important; }
//   @include media(mobileV) { background: purple !important; }
// }
