// Media queries
// -------------------------------------------
// Example
// body {
//   @include media(mobile) { background: red;}
// }
// -------------------------------------------

@mixin media($point) {
  @if $point == laptopH {
    @media screen and (width <= 1280px) {
      @content;
    }
  }

  @if $point == tablet-h {
    @media screen and (width <= 1024px) {
      @content;
    }
  }

  @if $point == tablet-v {
    @media screen and (width <= 768px) {
      @content;
    }
  } @else if $point == mobile-h {
    @media screen and (width <= 568px) {
      @content;
    }
  } @else if $point == mobile-v {
    @media screen and (width <= 400px) {
      @content;
    }
  }
}

// html, body {
//   @include media(desktop) { background: orange !important; }
//   @include media(tablet-h) { background: #000 !important; }
//   @include media(tablet-v) { background: red !important; }
//   @include media(mobile-h) { background: yellow !important; }
//   @include media(mobile-v) { background: purple !important; }
// }
