node_modules
dist
*.local

# Vite bundle visualizer output
stats.html

# Editor directories and files
.vscode/*
!.vscode/extensions.json

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions