@use '../core' as *;

html {
  scroll-snap-type: y mandatory;

  @include media(mobile-h) {
    scroll-snap-type: none;
  }
}

body {
  margin: 0;
  font-family: $font-stack;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.5;
  color: $font-color;
  text-shadow: 1px 1px 0 $font-shadow-color-light;
  background: $bg-color none no-repeat left top;
}

.heading,
.subheading {
  display: inline-block;
  width: 100%;
  margin: 0 0 0.5em;
  font-family: $font-stack-heading;
  font-weight: 400;
}

.heading {
  font-size: rem(60px);
  line-height: 1.2em;
  text-shadow: 2px 2px 0 $font-shadow-color-dark;

  @include media(laptopH) {
    font-size: rem(50px);
  }

  @include media(tablet-h) {
    font-size: rem(40px);
  }

  @include media(mobile-h) {
    font-size: rem(26px);
  }
}

.subheading {
  font-size: rem(40px);
  line-height: 1.2em;
  text-shadow: 1px 1px 0 $font-shadow-color-dark;

  @include media(laptopH) {
    font-size: rem(30px);
  }

  @include media(tablet-h) {
    font-size: rem(26px);
  }

  @include media(mobile-h) {
    font-size: rem(18px);
  }
}

p {
  margin: 0 0 1em;
}

strong {
  font-weight: 400;
}

.link {
  position: relative;
  font-weight: 400;
  color: inherit;
  white-space: nowrap;
  text-decoration: none;

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: '';
    border-bottom: 1px solid $font-color;
    transform: scaleX(0);
    transform-origin: 0;
    transition: transform $fast $curve;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}
