html {
  scroll-snap-type: y mandatory;
  @include media(mobileH) {
    scroll-snap-type: none;
  }
}

body {
  margin: 0;
  background: $BgColor none no-repeat left top;
  color: $fontColor;
  text-shadow: 1px 1px 0 $fontShadowColorLight;
  font-weight: 300;
  font-size: 100%;
  font-family: $fontStack;
  line-height: 1.5;
}

.heading,
.subheading {
  display: inline-block;
  margin: 0 0 0.5em 0;
  width: 100%;
  font-weight: 400;
  font-family: $fontStackHeading;
}

.heading {
  text-shadow: 2px 2px 0 $fontShadowColorDark;
  font-size: rem(60px);
  line-height: 1.2em;

  @include media(laptopH) {
    font-size: rem(50px);
  }
  @include media(tabletH) {
    font-size: rem(40px);
  }
  @include media(mobileH) {
    font-size: rem(26px);
  }
}

.subheading {
  text-shadow: 1px 1px 0 $fontShadowColorDark;
  font-size: rem(40px);
  line-height: 1.2em;

  @include media(laptopH) {
    font-size: rem(30px);
  }
  @include media(tabletH) {
    font-size: rem(26px);
  }
  @include media(mobileH) {
    font-size: rem(18px);
  }
}

p {
  margin: 0 0 1em 0;
}

strong {
  font-weight: 400;
}

.link {
  position: relative;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 400;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $fontColor;
    content: '';
    transition: transform $fast $curve;
    transform: scaleX(0);
    transform-origin: 0;
  }

  &:hover:after {
    transform: scaleX(1);
  }
}
