// Backgroud
$BgColor: #f5f5f5;

//Font colors
$fontColor: #424242; // Basic font color
$fontShadowColorLight: rgba(0, 0, 0, .1);
$fontShadowColorDark: rgba(0, 0, 0, .2);

//Font
$font: "roboto", Arial, Helvetica, Geneva, sans-serif;
$fontHeading: "Oswald", Arial, Helvetica, Geneva, sans-serif;

//Media Queries
$desktop: 1200px;
$tabletH: 1024px;
$tabletV: 1023px;
$mobileH: 767px;
$mobileV: 480px;