@use '../core' as *;

.contact {
  display: flex;
  width: 100%;
  min-height: 100vh;

  @include media(mobile-h) {
    flex-direction: column;
    justify-content: center;
  }

  &__image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;

    @include media(mobile-h) {
      justify-content: center;
      width: 100%;
    }
  }

  &__image-link {
    margin-right: 5vmin;

    @include media(mobile-h) {
      margin-right: 0;
      margin-bottom: 5vmin;
    }
  }

  &__image {
    display: block;
    width: 20vmin;
    height: 20vmin;
  }

  &__text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding-left: 0;

    @include media(mobile-h) {
      box-sizing: border-box;
      width: 100%;
      min-height: initial;
      padding-right: 3em;
      padding-left: 3em;
      text-align: center;
    }
  }

  &__heading {
    display: inline-block;
    width: 100%;
    margin: 0 0 0.3em;
    font-family: $font-stack-heading;
    font-size: rem(60px);
    font-weight: 400;
    line-height: 1.2em;
    text-shadow: 2px 2px 0 $font-shadow-color-dark;

    @include media(tablet-h) {
      font-size: rem(40px);
    }

    @include media(mobile-h) {
      font-size: rem(26px);
    }
  }

  &__paragraph {
    margin: 0;
  }
}
