/*.portfolio .horizontalWrapper {
	width: 640%;
}*/
/*.portfolio article.page {
	width: 12.5%;
}*/

.portfolio article.page {
  /*	position: relative;
	
	transition: all 1s ease-in-out;*/
}
.portfolio .projectImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: all 1s ease-in-out;
}
.projectImage h1 {
  font: 100 1em/1em Oswald, sans-serif;
  text-transform: uppercase;
  /*	padding: 1.5em 1.5em .1em 1.5em;*/
  padding: 0.1em;
  color: $BgColor;
  position: absolute;
  bottom: 0;
  line-height: 1em;
  white-space: nowrap;
  box-sizing: border-box;
}

.first .descriptionContainer {
  padding-left: 6em;
}
.descriptionContainer {
  background: rgba(0, 0, 0, 0.8);
  padding: 4em 4em 4em 4em;
  height: 50%;
  box-sizing: border-box;
}
.last .descriptionContainer {
  padding-right: 6em;
}
.description {
  font: 300 0.3em/1.5em "Roboto";
  color: $BgColor;
  text-shadow: none;
  height: 100%;
  column-width: 250px;
  column-gap: 2em;
  column-fill: auto;
}
