@use '../core' as *;

.resume {
  display: flex;
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;

  @include media(tablet-v) {
    flex-direction: column;
  }

  &__picture {
    position: fixed;
    right: 0;
    order: 1;
    width: 50%;
    height: 100%;

    @include media(tablet-v) {
      position: relative;
      order: 0;
      width: 100%;
      height: 30em;
      min-height: auto;
      max-height: 60vh;
    }

    @include media(mobile-h) {
      height: 20em;
    }

    @include media(mobile-v) {
      height: 15em;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% 40%;
  }

  &__text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    order: 0;
    width: 50%;

    @include media(tablet-v) {
      order: 1;
      width: 100%;
      min-height: auto;
    }
  }
}
