.resume {
  display: flex;
  min-height: 100vh;
  width: 100%;

  @include media(tabletH) {
    flex-direction: column;
  }

  &__picture {
    position: relative;
    order: 1;
    width: 50%;

    @include media(tabletH) {
      order: 0;
      min-height: auto;
      max-height: 60vh;
      width: 100%;
      height: 30em;
    }
    @include media(mobileH) {
      height: 20em;
    }
    @include media(mobileV) {
      height: 15em;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: 80% 40%;
  }

  &__text {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    order: 0;
    width: 50%;

    @include media(tabletH) {
      order: 1;
      min-height: auto;
      width: 100%;
    }
  }
}
