@use '../core' as *;

.work {
  display: flex;
  width: 100%;
  min-height: 100vh;
  scroll-snap-align: start;

  &__text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 700px;

    @include media(tablet-v) {
      width: 100%;
    }

    @include media(mobile-h) {
      padding-bottom: 20vh;
    }
  }
}
