.work {
  display: flex;
  min-height: 100vh;
  width: 100%;

  scroll-snap-align: start;

  &__text {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    width: 50%;

    @include media(tabletV) {
      width: 100%;
    }
    @include media(mobileH) {
      padding-bottom: 20vh;
    }
  }
}
