.references {
    .horizontalWrapper {
        padding-left: 25%;
        padding-right: 25%;
    }
    article.page {
        .textbox {
            padding: 5em 3em;
            min-height: calc(100vh - 20px); /* Fix scrollbar height */
            
            @include media(tabletV) {
                padding: 3em 2em;
            }
        }
        &:first-of-type .textbox {
            padding-left: 5em;
            
            @include media(tabletV) {
                padding: 3em;
            }
        }
        &:last-of-type .textbox {
            padding-right: 5em;
            
            @include media(tabletV) {
                padding: 3em;
            }
        }
    }
    
    @media screen and (max-width: 768px) {
        display: none;
    }
}