#splash {
	font: 300 2em/1.2em "Oswald", Arial, Helvetica, Geneva, sans-serif;
	background: rgba(0, 0, 0, .8);
	color: rgba(255, 255, 255, .8);
	height: 1.4em;
//	width: 300px;
	padding: 1em .5em;
	line-height: 1.2em;
	text-align: center;
	margin: auto;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;
	position: fixed;
	z-index: 10;
	visibility: hidden;
	cursor: default;
	
	text-shadow: 2px 2px 0 rgba(0,0,0, .5);
}
.splashSmall {
	font-size: .6em;
}